src/main/resources/xsd/SiebelBusinessService.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DataBase">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SiebelBusinessServices">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SiebelBusinessService" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Parameters">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="displayName" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="description" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="guid"/>
                                    <xs:attribute type="xs:string" name="name"/>
                                    <xs:attribute type="xs:string" name="businessServiceName"/>
                                    <xs:attribute type="xs:string" name="methodName"/>
                                    <xs:attribute type="xs:string" name="description"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>